.services-section {
  max-width: 1200px;
  margin: auto;
}

.services-section h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: #ffa500;
}

.service-card {
  display: flex;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 3em;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-content {
  flex: 2;
  padding: 30px;
}

.service-content h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #6a5acd;
}

.service-content p {
  font-size: 15px;
  color: #555;
  line-height: 1.7;
  text-align: justify;
}

.service-image {
  flex: 1;
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

/* Responsive */
@media (max-width: 768px) {
  .services-section h2 {
    font-size: 30px;
    /* margin-bottom: 1em; */
    margin-top: 1em;
  }

  .service-card {
    flex-direction: column;
    /* padding: 10px; */
    margin: 2em 1em;
  }
  .service-image {
    height: 200px;
    width: 100%;
  }
}
